#page {
    display:flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    font-family: 'Fira Sans';
    /* height: 100vh; */
}

#form {
    margin-top: 20vh;
    /* width: 40%; */
}

#btn {
    font-size: 2em;
    padding: 0.5em 1em;
    /* border-radius: 8px; */
}


#resultField { 
    margin-top: 40px;
}

#modeChoice {
    margin-top: 20px;
    display: block;
}

#weaponsChoice {
    margin: 20px 0 20px 0;   
}

.visible {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}
